
/* 
Colors:
- #5DADE2
- #EC7063
- #FBFCFC
- #424949
- #A569BD

*/
body {
    background-color: #5DADE2;
}

header {
    width: auto;
    
    
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    
    text-align: center;

    color: #FBFCFC;
}

main {    
    color: #FBFCFC;

    text-align: center;

}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

section {
    margin: 15px;
    flex-basis: 15%;
    background: #EC7063;
    padding: 10px 30px;
    border-radius: 25px;
    border: 5px solid #424949;
}

h2 {
    margin-top: 0;
}

button {
    border-radius: 25px;
    border: unset;
    opacity: 0.6;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    border-top: solid 3px #424949;

    text-align: center;

    font-style: italic;

    padding-top: 20px;
}




#deckButtons {
    min-width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#previous {
    float: left;
    margin-left: 0px;
    padding: 2px;
}

#next {
    float: right;
    margin-right: 0px;
}