
/*
Colors:
- #5DADE2
- #EC7063
- #FBFCFC
- #424949
- #A569BD

*/
body {
    margin: 0;
    background-color: #5DADE2;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: auto;


    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;

    text-align: center;

    color: #FBFCFC;
}

main {
    color: #FBFCFC;

    text-align: center;

    margin-bottom: 180px;

}

/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
} */

section {
    margin: 15px auto;
    background: #EC7063;
    padding: 10px 30px;
    border-radius: 25px;
    border: 5px solid #424949;

    width: 200px;

}

#container {
    margin: 0px auto;
    max-width: 500px;
    text-align: center;

}

h2 {
    margin-top: 0;
}

button {
    border-radius: 25px;
    border: unset;
    opacity: 0.6;
}

button:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    border-top: solid 3px #424949;

    text-align: center;

    font-style: italic;

    padding-top: 20px;
}




#deckButtons {
    min-width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#previous {
    float: left;
    /* margin-left: 450px; */
    padding: 2px;
    text-align: center;
    width: 95px;
}

#next {
    float: right;
    /* margin-right: 450px; */
    padding: 2px;
    text-align: center;
    width: 95px;
}