body {
  margin: 0;
  padding: 0;
  padding-top: 55px;
  background-color: #5dade2;
  font-family: "Montserrat", sans-serif;
}

.header {
  width: auto;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  text-align: center;
}

main {
  text-align: center;
}

.section {
  margin: 15px auto;
  background: #ec7063;
  padding: 10px 30px;
  border-radius: 25px;
  border: 5px solid #424949;
  width: 200px;
}

.container {
  margin: 0px auto;
  max-width: 500px;
  text-align: center;
}

.cardImg {
  width: 80%;
  height: 400px;
}

h2 {
  margin-top: 0;
}

button {
  border-radius: 25px;
  border: unset;
  opacity: 0.6;
}

button:hover {
  opacity: 1;
  cursor: pointer;
}

footer {
  border-top: solid 3px #424949;
  text-align: center;
  font-style: italic;
}

.deckButtons {
  min-width: 100%;
  max-width: 900px;
}

.previous {
  float: left;
  /* margin-left: 450px; */
  padding: 2px;
  text-align: center;
  width: 95px;
}

.next {
  float: right;
  /* margin-right: 450px; */
  text-align: center;
  width: 95px;
}
